.cabecalho {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  list-style: none;
  padding: 0 1rem;
}

.redes .menu__item {
  padding: 0;
}

.menu__lista {
  display: flex;
}

.menu__link {
  text-decoration: none;
  margin-right: 1.25rem;
  color: #000000;
}

.menu__link:hover{
  text-decoration: underline;
}

.menu__linka {
  color: #000000;
  text-decoration: none;
  margin-right: 1.25rem;
}

.menu__linka:hover {
  color: #ffffff;
  background-color: #000000;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  opacity: 0.7;
}
