.categoria__container {
  display: flex;
  justify-content: space-between;
}

.categoria {
  font-family: "Lato";
  padding-top: 5rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.categoria h3 {
  font-size: 25px;
  border-bottom: solid;
  padding-bottom: 2rem;
}

.categoria a {
  width: 100%;
  height: 275px;
  margin: 0 2rem;
  cursor: pointer;
  font-weight: 900;
  font-size: 30px;
  text-align: right;
  transition: 0.3ms;
  text-decoration: none;
  margin-top: 4rem;
}

.categoria a:hover {
  opacity: 0.7;
}

.categoria h4 {
  padding-right: 2rem;
  padding-top: 13rem;
}

.categoria__amarelo {
  color: #000000;
  background-color: #f8a912;
  border-radius: 0px 50px 50px 50px;
}

.categoria__preto {
  color: #ffffff;
  background-color: #1e0202;
  border-radius: 50px 50px 0px 50px;
}

.categoria__vermelho {
  color: #ffffff;
  background-color: #bd2d16;
  border-radius: 50px 0px 50px 50px;
}
