main {
	width: 80%;
	margin: 3rem auto;
}

#produto {
	display: flex;
	flex-direction: row;
	gap: 5rem;
}

#img-produto {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	border-radius: 0px;
}

#produto-mini img {
	width: 10rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

#info-produto {
	display: flex;
	flex-direction: column;
	width: 25rem;
}

#info-produto h1 {
	font-size: 40px;
	font-weight: 700;
}

#info-produto h2 {
	color: #8b8b8b;
	font-size: 20px;
}

#info-produto p {
	font-size: 15px;
	padding: 3rem 0;
	text-align: left;
}

#info-tabela th,
td {
	padding-right: 2rem;
}

#info-tabela th {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}

#info-tabela td {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

#info-produto hr {
	color: #d6d6d6;
	border: 1px solid #d6d6d6;
	margin: 3rem 0 2rem 0;
}

#rating {
	margin-bottom: 3rem;
}

#rating-1 {
	color: #f8a912;
}

#info-produto h3 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 2rem;
}

#quantidade {
	display: flex;
	flex-direction: row;
}

.btn-quantidade {
	background-color: black;
	color: white;
	width: 2.3rem;
	text-align: center;
	font-size: 2.5rem;
}

.btn-quantidade:hover {
	background-color: rgb(60, 60, 60);
	cursor: pointer;
}

#input-quantidade {
	width: 5rem;
	font-size: 20px;
	text-align: center;
}
