@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
}

body,
html {
	font-family: 'Lato';
	background-color: rgb(241, 237, 232);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.logo {
	width: 10rem;
}

.btn-geral {
	font-size: 14pt;
	width: 11rem;
	height: 3rem;
	border-radius: 0;
	border: 1px solid;
	background-color: #000000;
	color: #ffffff;
}

.btn-geral:hover {
	background-color: #606060;
}

/* .conteudo a {
	background-color: #000000;
	color: #ffffff;
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-decoration: none;
}

.conteudo a:hover {
	padding: 0.7rem 1.2rem;
} */
